#head {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 0%;
    font-family: Arial;
    border: solid black;
    height: max-content;  
    border-radius: 15px;
}

#details {
    font-family: Lucida Handwriting;
    text-align: justify;
    margin-left: auto;
    align-items: center;

}

body {
    background-color: #df6c4f;
    border: 10px black solid;
    padding: 5px;
    border-radius: 5px;

}

#discription {
    font-size: 25px;
    text-align: left;
}

input {
    margin: 15px;
    height: 20px;
    align-content: center;
    border: 5px solid rgb(15, 16, 16);
    border-radius: 25px;
    color: black;
    background-color: rgb(216, 175, 124);
    height: 40px;
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#button {
    text-align: center;
    background-color: black;
    border: 5px solid black;
    border-radius: 15px;
}

#a {
    font-size: 20px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
}